/* glitch button css */

.glitchButton {
  position:relative;
  display:inline-block;
}

.glitchButton .glitchButtonElement {
  border:0;
  background:transparent url(https://glitch.com/edit/images/background-light/icons/down-arrow.svg) no-repeat right center;
  text-align:left;
  padding:0 1.2em 0 0;
  display:inline-block;
  box-shadow: none;
}

.glitchButton .glitchButtonElement:hover {
  cursor: pointer;
}

.glitchButton .glitchOpenWindowElement {
  font-family:Helvetica,Arial,sans-serif;
  font-size:14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  position:absolute;
  right:0;
  top:100%;
  border-radius:5px;
  background:#fff;
  border:2px solid #000;
  color:#000;
  padding:15px;
  width:auto;
  min-width:200px;
}

.glitchButton .buttonLinks {
  background-color:#fff;
  border:2px solid #000;
  border-radius:5px;
  font-weight:600;
  font-size:14px;
  display:inline-block;
  padding:6px 36px 6px 10px;
  text-decoration:none;
  color:#000;
  margin:5px 0;
  background-position:right 8px center;
  background-repeat:no-repeat;
  background-size:20px 20px;
}

.glitchButton .buttonLinks:hover {
  background-color: #f5f5f5;
}

.glitchButton .buttonLinks.viewCode {
  background-image: url(https://glitch.com/edit/images/emojis/carp_streamer.png);
}

.glitchButton .buttonLinks.remix {
  background-image: url(https://glitch.com/edit/images/emojis/microphone.png);
}

.glitchButton .project .name {
  font-size:20px;
  font-weight:bold;
}

.glitchButton .project .description {
  font-size:14px;
}

.glitchButton .project .footer {
  margin-top:10px;
}

.glitchButton .tooltip.border {
  position:absolute;
  top:-11px;
  right:55px;
  width:0;
  height:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 10px solid #000;
}

.glitchButton .tooltip.fill {
  position:absolute;
  top:-8px;
  right:55px;
  width:0;
  height:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 10px solid #fff;
}

.glitchButton .users ul {
  padding: 0;
  margin: 0;
}
    
.glitchButton .users ul li {
  list-style: none;
  margin: 5px 0;
}

.glitchButton .users ul li a {
  text-decoration: none;
}
    
.glitchButton .users .name { 
  font-size: 14px;
  vertical-align: top;
  line-height: 1.8em;
}